@(title: String, jsfiles:Seq[String] = Seq[String](), cssfiles:Seq[String] = Seq[String]())(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        @for(cssfile <- cssfiles) {
            <link rel="stylesheet" href="@routes.Assets.versioned(cssfile)">
        }

        <script src="@routes.Assets.versioned("lib/jquery-2.1.4.min.js")" type="text/javascript"></script>
        @for(jsfile <- jsfiles) {
            <script src="@routes.Assets.versioned(jsfile)" type="text/javascript"></script>
        }
    </head>
    <body>
        @content
    </body>
</html>
